@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="data-pipeline-btns">
        <button id="run-data-pipeline" type="button" class="btn btn-primary">Run Data Pipeline</button>
    </div>
    
    <div class="progress">
        <div class="progress-bar bg-success" style="width: 40%">
            Ingesting data...
        </div>
        <div class="progress-bar bg-warning" style="width: 25%">
            Transforming data...
        </div>
        <div class="progress-bar bg-danger" style="width: 15%">
            Loading data...
        </div>
    </div>
