@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="data-pipeline-btns">
        <button id="data-pipeline-run" type="button" class="btn btn-primary">Run Data Pipeline</button>
    </div>
    
    <div id="data-pipeline-progress" class="progress"></div>
